<html>
  <head>
    <title>Lapuzel 1.0</title>
    <link rel="stylesheet" href="/public/bootstrap.css" />
    <script src="/public/bootstrap.js"></script>
    <script src="/public/jquery-1.8.0.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/public/signin.css" />
  </head>
  <body>
  <h2> Welcome to Lapuzel! </h2>
  <div class="container">

      <form class="form-signin" role="form">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="email" class="form-control" placeholder="Email address" required autofocus>
        <input type="password" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div> <!-- /container -->
  </body>
</html>
