<html>
  <head>
    <title>Lapuzel 1.0</title>
    <link rel="stylesheet" href="/public/bootstrap.css" />
    <script src="/public/bootstrap.js"></script>
    <script src="/public/jquery-1.8.0.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/public/signin.css" />
  </head>
  <body>
  
  <div class="container">
  
  
      <form class="form-signin" role="form">
        <h2> Welcome to Lapuzel! </h2>
        <div id="activities"></div>
         <script>
        function escaped(s) {
          return $("<div></div>").html(s).html();
        }
        
        var socket = io.connect('http://10.0.202.13:8081');
        
        socket.on('getPattern',function(data){
          $('#activities').append('<b>'+ escaped(data) + "<br/>");
        });
        
        socket.on('gameFinished',function(data){
          $('#activities').append( '<b>Congratulations! You finished the game in ' + escaped(data) + "seconds </b> <br/>");
        });
        
        socket.on('playerError',function(data){
          $('#activities').append( '<b>Sorry, too bad... try again :</b> <br/>');
        });
        
        

        
      </script>
    </div> <!-- /container -->
  </body>
</html>
